{% extends 'base.html' %}
{% block title%} HAHA {% endblock %}
{% block content %}

    {% if form.errors %}
        <p> errors : </p>
    {{form.errors}}
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p> Your account doesn't have access </p>
        {% else %}
            <p> login to access </p>
        {% endif %}
    {% endif %}
    <hr>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{next}}">
    </form>


    <p>
        <a href="{% url 'password_reset' %}"> Lost Pass ? </a>
    </p>
{% endblock %}