{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title%}{% trans "Register" %}{% endblock %}
{% block content %}
    
                    <div style="margin-top: 90px; padding:10px;border: 1px #333 solid;border-radius: 5px; width:70%"  id="serviceform">
                        <form id="Register-forms" method="POST" action="{%url 'register'%}">
                            <h2 class="form-title" style="text-align: center">Register new user</h2>
                        <div id="errors">
                        <ul>
                            {% for error in userForm.errors %}
                            <li> {{error}} </li>
                            {% endfor %}

                            {% for error in profileForm.errors %}
                            <li> {{error}} </li>
                            {% endfor %}
                            </ul>

                        </div>
                        {% csrf_token %}
        
        
                        {% for f in userForm %}
                            
        {{ f.errors }}
        {{ f.label_tag }} {{ f }}
                        {% endfor %}
                        {% for f in profileForm %}
                        {{ f.errors }}
        {{ f.label_tag }} {{ f }}

                        {% endfor %}
                        <br/>
                        <input class=" btn btn-info btn-form" width="130px" type="submit">
                    </form>
                </div>

{% endblock %}